body{
    background-image: url("./IMG/space-stars-texture.webp");
    backdrop-filter: blur(1px);
    padding: 60px 0px 0px 0px;
        z-index:0;
    
    }
.navbar-dark {
    background: linear-gradient(hsl(209, 100%, 23%), hsl(223, 79%, 47%), hsl(240, 70%, 31%));
    color: #ffc947;
    padding:10px;
    filter: none;
}
.row-content {
    margin: 0px auto;
    padding: 15px 0px 15px 0px;
    border-bottom: 1px ridge #28a745 ;
    min-height: 400px; 
}
    .nav-link,.navbar-brand {
        color: #ffc947 !important;
    }
    .nav-link:hover{
        color: #28a745 !important;
    }
    .navbar-dark .fa-bars{
        color:#ffc947;
    
    }
    
    .navbar-dark .navbar-collapse{
        margin:0px  0px 0px 0px;
    }

.site{
    margin-top: 20px;;
    width: auto;
    height: auto;
    color: azure;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif Impact;
}
.box{
    background-color: rgba(245, 245, 245, 0.7);
    height: auto;
    width: auto;
    border-radius: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 2px;
    color: rgb(61, 61, 61);
    

}
.ytb-player{
    margin-left: auto;
    margin-right: auto;
}
.twitch{
    display: flex;
}
.twitch-chat{
    width: 25%;
    height: 750px;
    align-content: right;
}
.twitch-video{
    align-content: left;
    width:100%;
    height: 750px;
}
.twitch-chat,.twitch-video{
    flex: 1;
}
p,h1,h2{
    opacity: 100%;
}