body{
    background-image: url("./IMG/space-stars-texture.webp");
    backdrop-filter: blur(5%);
    padding: 60px 0px 0px 0px;
        z-index:0;
    
    }
.navbar-dark {
    background: linear-gradient(hsl(209, 100%, 23%), hsl(223, 79%, 47%), hsl(240, 70%, 31%));
    color: #ffc947;
    padding:10px;
    filter: none;
}
.row-content {
    margin: 0px auto;
    padding: 15px 0px 15px 0px;
    border-bottom: 1px ridge #28a745 ;
    min-height: 400px; 
}
    .nav-link,.navbar-brand {
        color: #ffc947 !important;
    }
    .nav-link:hover{
        color: #28a745 !important;
    }
    .navbar-dark .fa-bars{
        color:#ffc947;
    
    }
    
    .navbar-dark .navbar-collapse{
        margin:0px  0px 0px 0px;
    }

.site{
    margin-top: 20px;;
    width: auto;
    height: auto;
    color: azure;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif Impact;
}
.box{
    background-color: rgba(245, 245, 245, 0.5);
    height: auto;
    width: fit-content;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;
    border-radius: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 2px;
    color: rgb(61, 61, 61);
    

}
.ytb-player{
    margin-left: auto;
    margin-right: auto;
}
.twitch{
    display: flex;
}
.twitch-chat{
    width: 25%;
    height: 750px;
    align-content: right;
    padding-right: -50px;
}
.twitch-video{
    align-content: left;
    width:100%;
    height: 750px;
}
.twitch-chat,.twitch-video{
    flex: 1;
}
p,h1,h2{
    opacity: 100%;
}
/*FOOTER*/
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 300px;
    background-color: rgba(41, 38, 47, 0.7);
    margin-top: 25px;
}
.feet, .liens{
    color: antiquewhite;
    padding: 45px;
}
.titre_footer{
    text-align: left;
    width: 50%;
}
.letact{
    text-align : right;
    width: 50%;
    padding-right: 45px;
}
.link_youtube:visited,.link_youtube, .link_mail, .link_mail:visited, .link_twitch, .link_twitch:visited, .link_discord, .link_discord:visited{
    color: antiquewhite;
}
.link_youtube:hover, .link_youtube:active{
    color: red;
}
.link_mail:hover, .link_mail:active{
    color: aqua;
}
.link_twitch:hover, .link_twitch:active{
    color: rgb(104, 5, 104);
}
.link_discord:hover, .link_discord:active{
    color:rgb(11, 58, 187);
}
.link_discord, .link_mail, .link_youtube, .link_twitch{
    font-size: larger;
}
.credit{
    text-align: center;
    padding-bottom: 15px;
}
.box:hover, .box2:hover{
    background-color: rgba(245, 245, 245, 0.7);
}
.box2{
    background-color: rgba(245, 245, 245, 0.5);
    height: auto;
    width:auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;
    border-radius: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 2px;
    color: rgb(61, 61, 61);
    

}
.container{
    padding-right: 45px;
}